h1{
    color: brown;
}
h1{
    font-size: 2rem;
}
h1{
    text-align: center;
}
h1{
    font-family: fantasy;
}
.lamparas1{
    border: 10px solid;
    

}
.lamparas1{
    text-align: center;
}
.lamparas1{
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: double;
}
.lamparas1{
    background-color: gray;
}
#diseños1{
    text-align: center;
}
#diseños1{
    color: darkgoldenrod;
}
#diseños1{
    font-family: cursive;
}
#diseños1{
    text-transform: capitalize;
}
#diseños1{
    font-size: 40px;
}